<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Step By Step Server Manager</title>
</head>
<body>
    <div id="console"></div>
    <div id="command_console"></div>
    <div id="command_tip"></div>
    <input id="command" placeholder="명령어..."></input>
    <script src="./Front.js"></script>
</body>
</html>